:root {
    --textColor: #e1cfb8;
    --backgroundColor: #322c2b;
    --mainBackgroundColor: #803D3B;
    --buttonBackgroundColor: #683737;
    --hoverBackgroundColor: #412b2b;
    --h4Color: #e3b083;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
}

#main {
    background-color: var(--mainBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 20%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
}

h4 {
    color: var(--h4Color);
}

#pageButtons {
    display: flex;
    gap: 5px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#normalDMG {
    width: 100%;
}

#breakDMG {
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#characterType {
    display: flex;
    justify-content: space-evenly;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border: none;
}

button:hover, .typeButton:hover {
    background-color: var(--hoverBackgroundColor);
    cursor: pointer;
}

.typeButton {
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
}

.clicked {
    background-color: var(--backgroundColor);
    padding: 5px;
}

.typeImage {
    display: block;
    height: auto;
    width: 30px;
}

.buttons {
    border: none;
    color: var(--textColor);
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
    min-width: 70px;
    cursor: pointer;
}

.checkboxes {
    accent-color: var(--h4Color);
    height: 15px;
    width: 15px;
}

#checkboxContainer, #checkboxContainerBreak {
    display: flex;
    justify-content: center;
    float: right;
    width: 53px;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#finalCritDMG, #finalSuperBreakDMG {
    display: inline;
    float: right;
}

#finalAverageDMG, #finalBreakDMG {
    display: inline;
    float: right;
}

input {
    float: right;
    width: 50px;
}

#acheronCheckbox {
    float: right;
    display: flex;
}