:root {
    --textColor: #e1cfb8;
    --backgroundColor: #322c2b;
    --mainBackgroundColor: #803D3B;
    --buttonBackgroundColor: #683737;
    --h4Color: #e3b083;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
}

#main {
    background-color: var(--mainBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 20%;
    min-width: 275px;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
}

h4 {
    color: var(--h4Color);
}

.textFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    min-width: 70px;
}

button:hover {
    background-color: #412b2b;
}

.buttons {
    border: none;
    color: var(--textColor);
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
    cursor: pointer;
}

.checkboxes {
    accent-color: var(--h4Color);
}

#results {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#finalCritDMG {
    display: inline;
    float: right;
}

#finalAverageDMG {
    display: inline;
    float: right;
}

input {
    width: 50px;
    float: right;
}

#acheronCheckbox {
    float: right;
    display: flex;
}