:root {
    --textColor: #e1cfb8;
    --backgroundColor: #322c2b;
    --mainBackgroundColor: #803D3B;
    --buttonBackgroundColor: #683737;
    --hoverBackgroundColor: #412b2b;
    --h4Color: #e3b083;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
}

#main {
    background-color: var(--mainBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 20%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
}

h4 {
    color: var(--h4Color);
}

#pageButtons {
    display: flex;
    gap: 5px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.percent {
    margin-left: auto;
}

input {
    width: 50px;
    margin-left: auto;
}

#acheronCheckbox {
    display: flex;
    margin-left: auto;
}

.info {
    display: block;
    position: relative;
    height: 1.5ch;
    width: 1.5ch;
}

.tooltip {
    border-radius: 50%;
    height: 1.5ch;
    width: 1.5ch;
}

.tooltip:hover {
    background-color: var(--hoverBackgroundColor);
}

.tooltipText {
    background-color: var(--hoverBackgroundColor);
    box-shadow: 5px 5px var(--backgroundColor);
    position: absolute;
    z-index: 2;
    right: 0;
    width: 55%;
    padding: 10px;
    margin: 0px 10px;
    translate: 0 -50%;
    visibility: hidden;
}

.tooltipTextTop {
    translate: 0 0;
    top: 8em;
}

.tooltipTextBottom {
    translate: 0 0;
    bottom: 0.8em;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.exampleList {
    margin-left: 15px;
}

li {
    padding: 5px 0px 0px 0px;
}

#normalDMG {
    width: 100%;
}

#breakDMG {
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#characterType {
    display: flex;
    justify-content: space-evenly;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border: none;
}

button:hover, .typeButton:hover {
    background-color: var(--hoverBackgroundColor);
    cursor: pointer;
}

.typeButton {
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
}

.clicked {
    background-color: var(--backgroundColor);
    padding: 5px;
}

.typeImage {
    display: block;
    height: auto;
    width: 30px;
}

.buttons {
    border: none;
    color: var(--textColor);
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
    min-width: 70px;
    cursor: pointer;
}

.checkboxes {
    accent-color: var(--h4Color);
    height: 15px;
    width: 15px;
    margin: 0;
}

#checkboxContainer, #checkboxContainerBreak {
    display: flex;
    justify-content: center;
    float: right;
    width: 53px;
    margin-left: auto;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#finalCritDMG, #finalSuperBreakDMG {
    display: inline;
    float: right;
}

#finalAverageDMG, #finalBreakDMG {
    display: inline;
    float: right;
}
